.sample-form input,
.sample-form textarea {
  width: 300px;
}
.sample-form button {
  font-weight: bold;
}
.jumbotron {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  background-image: url("../img/jumbo.jpg");
}
.leftdiv {
  width: 29%;
  float: left;
}
.rightdiv {
  width: 69%;
  float: right;
}
.heightdiv {
  height: 300px;
}
.wholediv {
  margin-left: 0%;
  margin-right: 0%;
}
.maindiv {
  margin-left: 4%;
  margin-right: 0%;
}
.tallthis {
  height: 100%;
}
.talltd {
  height: 100px;
}
.specialImage {
  bottom: 5;
  right: 0;
  z-index: 100;
  display: block;
  float: center;
}
@font-face
{
  font-family: customFont;
  src: url(Sketch_Block.ttf);
}  
.banner {
   font-family: customFont;
   margin: 0px;
   padding-top: 80px;
   padding-bottom: 50px;
   text-align: center;
   color: #ffffff;
}
.carousel-green {
	background-color: #41a128;
}
.carousel-blue {
	background-color: #65a6d1;
}

table.wide, table.wide tr, table.wide td {
	font-size:15px;
	background-color:white;
}

.picture {
	height: 440px;
	width: 250px;
	padding-top: 260px;
	margin-bottom: 10px;
}

.picture2 {
	background-image: url("../../images/2.jpg");
	height: 455px;
	width: 250px;
	padding-top: 260px;
	margin-bottom: 10px;
}

.picture3 {
	background-image: url("../../images/3.jpg");
	height: 455px;
	width: 250px;
	padding-top: 260px;
	margin-bottom: 10px;
}

.desc {
	background-color: rgba(255,255,255,.6);
}

br {
	line-height: 0px;
}

.circle {
	border-radius: 50%;
	width: 220px;
	height: 220px; 
	color:white;
	text-align:center;
	font-size: 100px;
	/* width and height can be anything, as long as they're equal */
}