#content {
	position:relative;
	display:inline-block;
	min-height:550px;
}
#studentheader {
	border-bottom:1px solid #FFFFFF;
}
#students, #grades {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
	text-align:center;
}
#students {
	position:absolute;
	table-layout:fixed;
}
#students .tablesorter-filter {
	height:auto;
}
#students td, #grades td {
	font-size:1.1em;
	height:20px;
	border:1px solid #006600;
	width:auto;
	padding-top:3px;
	padding-bottom:1px;
	text-align:center;
}

#students th, #grades th  {
	font-size:1.4em;
	color:#FFFFFF;
	padding-top:3px;
	padding-bottom:2px;
	background-color:rgb(56, 150, 60);
	text-align:center;
}

.edit_table  .gradecell, .edit_table .studentinfocell {
	height:15px;
	width:80%;
	text-align:center;
	margin:0px;
}

tr:nth-child(even) {
	background-color: #F5F0EB;
}
tr:nth-child(odd) {
	background-color: #FFF;
}
a.btn-primary{
	color:#FFFFFF;
}
a.btn-primary:hover, a.btn-primary:active, a.btn-primary.active, a.btn-primary.disabled, a.btn-primary[disabled] {
	background-color:#006600;
}